extends layout

block content
  script
    var values = [#{values}]; 
    var dates = [#{dates}];
    var titles = !{JSON.stringify(titles)};
    var ids = !{JSON.stringify(ids)};
    console.log(ids);
    console.log(titles);
    var modelName = "#{modelName}";
    console.log(modelName);
    var data = [];
    for (var i=0; i < values.length; i++){
      data[i] = {x:dates[i], y:values[i],mongoId:ids[i],articleTitle:titles[i]};
    }
  script(src="/js/highchartTheme.js")
  script(src="/js/chart.js")
  #container
    h1 #{modelName}
    #graphContainer
    #overlay
      #overlayModal
        #overlayText
